body{
  padding:0px; margin:0px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}



/*Seccion superior de la web*/
.topNav{
  padding-left:3%;
  padding-right:2%;
  background: url('../img/fondo-top.png');
  background-repeat: repeat-x;
  min-height:60px;

}

.upper{
padding-left:65px; padding-right:65px;
}

#blueNav{
  background-color: #1B5D90;
  color:#fff;
  padding: 0;
  font-size: 17px;
  min-height:35px;
}

.blueButton{
  margin-bottom: 0 !important;
  padding: 0;
  padding-top: 4px;
  min-height:35px;
}

.blueButton:hover{
  background-color: #134165;
  cursor: pointer;
}

/**/
.categorial{
  position: relative;
  width: 130px;
  margin:0 auto;
  float:none;

}

.categoryContainer{
  display: none;
  position:absolute;
  top:30px;
  left:0;
  min-width: 250px;
  width: 960px;
  min-height:400px;
  height:400px;
  min-height: 200px;
  z-index: 1000;
  background-color: transparent;
}

.listCategory{
  position: relative;
  float: left;
  min-width: 293px;
  min-height: 250px;
  height: 100%;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
  background-color:#333333;
  padding-top: 22px;
}


.listCategory ul{
  text-align: left;
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.categoryName{
  padding-top: 4px;
  min-height: 38px;
  padding-left: 15px;
}


.catChev{
  color:#D1D1D1;
  position: absolute;
  margin-top: 8px;
  right: 8px;
  font-size: 10px;
}

.subCategory{
  position: relative;
  float: left;
  width:664px;
  min-width: 293px;
  min-height: 250px;
  height: 100%;
  background-color:#fff;
  padding: 18px;
  display: none;
}

.categoryName:hover{
  background-color: #3483FA;
}



.category-tittle{
  width: 100%;
  text-align: left;
  color: #4C4C4C;
  position: relative;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
}

.inContainer{
  width: 100%;
  position: relative;
  padding-top: 0px;

}

.tpContainer{
  font-size: 14px;
  color:#9A9A9A;
  text-align: left;
  position: relative;
  min-width: 185px;
  max-width: 185px;
  width: 185px;
  min-height: 50px;
  float: left;
  margin: 12px;
}

.tpContainer a{
  display: block;
  color:#9A9A9A;
  text-decoration: none;
}

.tpContainer a:first-child {
  font-weight: 500; /*medium*/
  display: block;
  color:#4C4C4C;
  text-decoration: none;
}

/*hover effects*/


.ccategory:hover .categoryContainer{
  display:inline-block;
}




/**/

.centralSearch{
  width:550px;
  min-width:250px;
  max-width: 550px;
  background-color:#fff;
  border-radius: 25px;
  border:1px solid #DEDFE0;
  height: 40px;
  padding-left: 16px;
  padding-top: 3px;
}

.centralSearch button{
  color:#cccccc;

}

.searcher{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border:0;
  width: 90%;
}

.upperDer a{
  font-size: 19px;
  color:#A09FA4;
}

.upperLine{
  min-width: 2px;
  min-height: 10px;
  height:10px;
  position: relative;
  top:18px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #A09FA4;
}

#logoPrincipal2{ width: 150px; display: none;}

@media only screen and (max-width: 1139px) {
  .centralSearch{
    width:360px;
  }
}

  @media only screen and (max-width:940px) {
    .centralSearch{
      width:250px;
    }

    .upper{
      padding-left:25px; padding-right:25px;
    }
    .searcher{
      width: 80%;
    }



  }


.m2{
  display: none;
}

.ctr{
  display: none;
}

@media only screen and (max-width: 767px) {
  #blueNav{
    background-color: #1B5D90;
    color:#fff;
    padding: 0;
    font-size: 17px;
    min-height:15px;
  }

  .ctr{
    display: inline-block;
  }

  .mc1{
    display: none;

  }
  .m2{

    display: inline-block;
  }

  .m1{
    display: none;
  }


  .centralSearch{
    width:250px;
  }

  .st1{
    font-size: 34px !important;
  }

  .st2{
    font-size: 34px !important;
  }

  .st3{
    font-size:28px !important;

  }

  .slider-buttonleft{
    position: absolute;
    left: -10px !important;
  }

  .slider-buttonright{
    position: absolute;
    right: : -10px !important;
  }


  .slider-buttonleft2{
    left: -10px !important;
  }

  .slider-buttonright2{
    right:  -10px !important;
  }


  .pre-footer{
    text-align: center;

  }

  .ft{
    font-size: 1px;
    display: none;

  }

  .foot ul{
    border-bottom: 1px solid #ccc !important;
    margin-bottom:10px;
    margin-top:10px;

  }

.pre-footer ul{
    text-align: center;
}

.pre-footer ul li{text-align: center;    }

  .upperLine{
    display: none;
  }

  .flgContainer{
    position: relative;
    color:#A09FA4;
    width:900px;
    max-width:100%;

  }

  .flg1{
   position: relative;
   float: left;
   font-size: 30px;
   padding-top: 8px;
   margin-right: 15px;
   width: 10%;
 }

 .flg2{
   position: relative;
   float: left;
   font-size: 14px;
   width: 82%;
 }

 .flgTittle{
   font-weight: bold;
   color:#1B5D90;
   font-size:18px;
 }






  .topNav{
    padding-left: 20px;
    padding-right:10px;
  }

  .centralSearch{ display: none;}
  #logoPrincipal1{ display: none; }
  #logoPrincipal2{display:inline-block;  }

}
/*fin de seccion superior de la web*/

/*Cinta servicios*/
.flgContainer{
  position: relative;
  margin:0 auto;
  float: none;
  color:#A09FA4;
  min-width:250px;
  max-width:250px;

}

 .flg1{
  position: relative;
  float: left;
  font-size: 30px;
  padding-top: 8px;
  margin-right: 15px;
  width: 10%;
}

.flg2{
  position: relative;
  float: left;
  font-size: 14px;
  width: 82%;
}

.flgTittle{
  font-weight: bold;
  color:#1B5D90;
  font-size:18px;
}

/*Sliders buttons*/
.slider-buttonleft{
  z-index: 999;
  position: absolute;
  left: 0px;
  top:20px;
  background-color: transparent;
  border:0;
}
.slider-buttonleft img{
  width: 85%;
}

.slider-buttonright{
  position: absolute;
  right: 0px;
  top:20px;
  background-color: transparent;
  border:0;
}

.slider-buttonright img{
  width: 85%;
}

.slider-buttonleft2{
  position: absolute;
  left: 40px;
  top:80px;
  background-color: transparent;
  border:0;
  z-index: 999;
}

.slider-buttonleft2 img{
  width: 85%;
}

.slider-buttonright2{
  position: absolute;
  right: 40px;
  top:80px;
  background-color: transparent;
  border:0;
  z-index: 999;
}

.slider-buttonright2 img{
  width: 85%;
}

.slider-buttonleft3{
  position: absolute;
  left: 40px;
  top:12px;
  background-color: transparent;
  border:0;
  z-index: 999;
}

.slider-buttonleft3 img{
  width: 85%;
}

.slider-buttonright3{
  position: absolute;
  right: 40px;
  top:12px;
  background-color: transparent;
  border:0;
  z-index: 999;
}

.slider-buttonright3 img{
  width: 85%;
}


/*fin botones sliders*/



.btnEcar{
  background-color: #F5F5F5;
  border:1px solid #ddd;
  height: 30px;
  font-size: 12px;
  width:35px;
}

.btn-ecar{
  background-color: #FF0000;
  height:30px;
  padding-top: 2px;
  width: 65px;
}

.marca-container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 120px;
}


.marca-container img{
  line-height: 200px;
}



/*footer*/
.pre-footer{
  margin-top: 25px;
  color:#A09FA4;
  font-weight:600;
  line-height: 28px;
  font-size:13px;
}
.pre-footer ul{
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.pre-footer li{
  list-style-type: none;
}


.ptittle{
  color:#4A4A4A;
  font-size: 16px;
}
